@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
    float: left;
}
a{
    text-decoration: none;
    display: block;
}
.container{
    max-width: 1250px;
    margin: 0px auto;
}
html{
    font-size: 62.5%;
}
img{
    vertical-align: middle;
}
.clr{
    clear: both;
}
.flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
:root{
    --hover:#00e0d0;
}
.align-center{
    align-items: center;
}
.text-center{
    text-align: center;
}
body{
    background-color: #efefef;
    font-family: 'Poppins', sans-serif;
}
/* ============================
    Banner Part Starts
===========================*/

/* ============================
    Banner Part ends
===========================*/
/* ============================
    Header Part Starts
===========================*/
header{
    padding: 1rem;
    background-color: #1876f2;
    position: sticky;
    top: 0px;
    z-index: 100;
}
.header-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.left{
    display: flex;
    align-items: center;
}
.right{
    display: flex;
    margin-right: 0px;
    align-items: center;
    
}
.right .user-profile{
    text-align: center;
    
}
.right .user-profile img{
    width: 40%;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.right .src-btn{
    width: 36rem;
    background-color: #efefef;
    display: flex;
    align-items: center;
    border-radius: 4rem;
    padding: 1rem 1rem;
    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    -ms-border-radius: 4rem;
    -o-border-radius: 4rem;
}

.right .src-btn input{
    outline: none;
    background-color: transparent;
    width: 100%;
    border: 0;
    color: #000;
    margin-left: 1rem;
}
.left ul li img{
    margin-left: 3rem;
    width: 3rem;
    cursor: pointer;
}
.left .logo img{
    width: 16rem;
    
}

.active{
    position: relative;
}
.active:after{
    position: absolute;
    content: '';
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    top: 1px;
    right: 3.4rem;
    background-color: #1da81d;
    border: 0.2rem solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* ============================
    Heade3r Part ends
===========================*/

/* ============================
    Main Content Part Starts
===========================*/
.main-page{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
.left-col{
    flex-basis: 25%;
    position: sticky;
    top: 7rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    
}
.left-col ul li{
    display: flex;
    align-items: center;
    padding-top: 2rem;
    
}
.left-col ul li a{
    text-decoration: none;
    color: #626262;
    font-size: 1.5rem;
    font-weight: 400;
    padding-left: 1rem;
}
.left-col ul li  img{
    width: 2.5rem;
    margin-left: 1.5rem;
}
.left-col .btn{
    margin-top: 2rem;
    margin-left: 2rem;

}
.left-col .see-more{
    color: rgb(34, 129, 218);
    font-size: 1.6rem;

}
.left-col .shortcut-links{
    margin-top: 2rem;
}
.left-col .shortcut-links p{
    font-size: 1.8rem;
    text-align: center;
}
.left-col .shortcut-links ul li img{
    width: 2.5rem;
    margin-left: 2rem;
}
.main-content{
    flex-basis: 47%;
}
.main-content .post-box{
    width: 100%;
    padding: 2rem;
    background-color: #fff;
    margin-top: 3rem;
}
.main-content .post-box .left-post img{
    width: 5rem;
    height: 5rem;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    -webkit-border-radius: 50%;
}
.main-content .post-box .right-post{
    margin-left: 1rem;
    width: 100%;
}
.main-content .post-box .right-post h4{
    font-size: 1.6rem;
    font-weight: 400;
    color: #626262;
}
.main-content .post-box .right-post select{
    outline: none;
    border: 0;
    font-size: 1.2rem;
    color: #626262;
}  
.main-content .post-box .right-post input{
    width: 100%;
    font-size: 1.4rem;
    color: #626262;
    border: 0;
    outline: none;
    padding-bottom: 5rem;
    border-bottom: 0.2rem solid #626262;
    margin-top:2rem;
}
.main-content .post-box .right-post .icons .one:nth-child(1){
    margin-left: 0rem;
}
.main-content .post-box .right-post .icons .one{
    margin-top: 2rem;
    margin-left: 2rem;
}
.main-content .post-box .right-post .icons .one p{
    font-size: 1.3rem;
    color: #626262;
    padding-left: 1rem;
}
.main-content .post-box .right-post .icons .one img{
    width: 2rem;
    object-fit: cover;
}
.main-content .update .update-one{
    width: 100%;
    padding: 2rem;
    background-color: #fff;
    margin-top: 2rem;
}
.main-content .update .update-one .main-update{
    width: 100%;
}
.main-content .update .update-one .main-update .react-row{
    margin-top: 1rem;
}
.main-content .update .update-one .main-update .react-row .react img{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}
.main-content .update .update-one .main-update img{
    width: 100%;
}
.main-content .update .update-one .main-update p{
    font-size: 1.5rem;
    line-height: 2.4rem;
    padding: 1rem;
}
.main-content .update .update-one .header i{
    font-size: 2rem;
}
.main-content .update .update-one .header .head-2{
    padding-left: 2rem;
}
.main-content .load-btn {
    margin-top: 3rem;
    text-align: center;
}
.main-content .load-btn a{
    display: inline-block;
    padding: 1rem 2rem;
    color: #626262;
    font-size: 1.4rem;
    border-radius: 1rem;
    border: 0.2rem solid #626262;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.main-content .update .update-one .header .head img{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.main-content .update .update-one .header .head  h4{
    font-size: 1.7rem;
    color: #000;
    font-weight: 400;
}
.story-row  .your-story{
    width: 11rem;
    position: relative;
}
.story-row  .your-story img{
    width: 100%;
    border-radius: 1.5rem;
    object-fit: cover;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}
.story-row .others-story{
    width: 11rem;
    position: relative;
}
.story-row .others-story .overly{
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 100%;
    display: flex;
    
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.4);
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}
.story-row .others-story .overly p{
    font-size: 1.3rem;
    color: white;
    font-weight: 400;
    text-align: center;
    width: 100%;
    padding-bottom: 1rem;
}
.story-row .others-story .overly .overly-image{
    padding: 1.5rem 1.5rem;
}
.story-row .others-story .overly .overly-image img{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    object-fit: cover;
    border: 0.5rem solid #1876f2;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.story-row .others-story img{
    width: 100%;
    border-radius: 1.5rem;
    object-fit: cover;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}
.story-row  .your-story .overly{
    position: absolute;
    bottom: 0rem;
    text-align: center;
    width: 100%;
    border-radius: 1.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgba(0,0,0,0.2);
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}
.story-row  .your-story .overly img{
    width: 3rem;
    object-fit: cover;
}
.story-row  .your-story .overly p{
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.right-col{
    flex-basis: 25%;
    position: sticky;
    top: 7rem;
    
}
.right-col .event-box{
    width: 100%;
}
.right-col .event-box .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right-col .event-box{
    padding: 0rem 3rem;
    background-color: #fff;
}
.right-col .event-box .top{
    padding-top: 2rem;
}
.right-col .event-box p{
    font-size: 1.8rem;
}
.right-col .event-box a{
    color: #1876f2;
    font-size: 1.5rem;
}
.right-col .event-box .events .calendar{
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.4rem 0.1rem rgba(0,0,0,0.3);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.right-col .event-box .events{
    display: flex;
    align-items: center;
    margin-top: 2rem;
}
.right-col .event-box .events .calendar p{
    padding: 1rem 2rem;
    text-align: center;
}
.right-col .event-box .events .calendar h4{
    padding: 0.5rem 2rem;
    background-color: #1876f2;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.right-col .event-box .events  .event-text{
    margin-left: 2rem;
}
.right-col .event-box .events  .event-text h3,p{
    color: #626262;
}
.right-col .event-box .events  .event-text h3{
    font-size: 1.6rem;
    font-weight: 400;
}
.right-col .event-box .events  .event-text p{
    font-size: 1.2rem;
    font-weight: 400;
}   
.right-col .event-box .advertisement{
    width: 100%;
    margin-top: 1rem;
}
.right-col .event-box .advertisement img{
    width: 100%;
    border-radius: 0.4rem;
    max-width: 100%;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
}  
.right-col .event-box .conversation .person:last-child{
    padding-bottom: 2rem;
}
.right-col .event-box .conversation .person{
    margin-top: 1.5rem;
    
} 
.right-col .event-box .conversation .person .person-img img{
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
}
.right-col .event-box .conversation .person .person-img{
    position: relative;
}
.right-col .event-box .conversation .person .person-img:after{
    position: absolute;
    content:'';
    bottom: -1px;
    right: 0rem;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    background-color: #1da81d;
    border: 0.2rem solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.right-col .event-box .conversation .person p{
    padding-left: 1.5rem;
    font-size: 1.5rem;
}
/* ============================
    Main Content Part ends
===========================*/
/* ============================
    Part Starts
===========================*/
/* ============================
    Part ends
===========================*/
/* ============================
    Part Starts
===========================*/
/* ============================
    Part ends
===========================*/
/* ============================
    Part Starts
===========================*/
/* ============================
    Part ends
===========================*/
/* ============================
    Part Starts
===========================*/
/* ============================
    Part ends
===========================*/
/* ============================
    Part Starts
===========================*/
/* ============================
    Part ends
===========================*/
/* ============================
    Part Starts
===========================*/
/* ============================
    Part ends
===========================*/
/* ============================
    Part Starts
===========================*/
/* ============================
    Part ends
===========================*/

/* ============================
    Part Starts
===========================*/
/* ============================
    Part ends
===========================*/
/* ============================
    Part Starts
===========================*/
/* ============================
    Part ends
===========================*/